<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tts.base.dao.BaseServerLogMapper">

    <sql id="selectServerLogVo">
        select id, server_ip, status, create_time
        from base_server_log
    </sql>

    <select id="selectBaseServerLogList" parameterType="com.tts.base.domain.BaseServerLog"
            resultType="com.tts.base.domain.BaseServerLog">
        <include refid="selectServerLogVo"/>
        <where>
            <if test="serverIp != null and serverIp != ''">
                and server_ip = #{serverIp}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>