<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tts.main.dao.TtsCoordinateLatestMapper">
    <resultMap id="TtsCoordinateLatestResultMap" type="com.tts.main.domain.TtsCoordinateLatest">
        <id property="id" column="id"/>
        <result property="flowRecordId" column="flow_Record_Id"/>
        <result property="tenantId" column="tenant_Id"/>
        <result property="vehicleId" column="vehicle_Id"/>
        <result property="shipmentId" column="shipment_Id"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="receiverServerTime" column="receiver_Server_Time"/>
        <result property="geohash1" column="geohash1"/>
        <result property="geohash2" column="geohash2"/>
        <result property="geohash3" column="geohash3"/>
        <result property="geohash4" column="geohash4"/>
        <result property="geohash5" column="geohash5"/>
        <result property="geohash6" column="geohash6"/>
        <result property="geohash7" column="geohash7"/>
        <result property="geohash8" column="geohash8"/>
        <result property="geohash9" column="geohash9"/>
        <result property="geohash10" column="geohash10"/>
        <result property="geohash11" column="geohash11"/>
        <result property="geohash12" column="geohash12"/>
    </resultMap>


    <sql id="selectCoordinateLatest">
        SELECT tcl.id,
               tcl.flow_Record_Id,
               tcl.tenant_Id,
               tcl.vehicle_Id,
               tcl.shipment_Id,
               tcl.longitude,
               tcl.latitude,
               tcl.receiver_Server_Time,
               tcl.geohash1,
               tcl.geohash2,
               tcl.geohash3,
               tcl.geohash4,
               tcl.geohash5,
               tcl.geohash6,
               tcl.geohash7,
               tcl.geohash8,
               tcl.geohash9,
               tcl.geohash10,
               tcl.geohash11,
               tcl.geohash12
        FROM tts_coordinate_latest tcl
    </sql>


    <delete id="replaceByTenantIdAndVehicleId" parameterType="com.tts.main.domain.TtsCoordinateLatest">
        replace into tts_coordinate_latest (flow_Record_Id, tenant_Id, vehicle_Id, shipment_Id, longitude, latitude,
                                            receiver_Server_Time, geohash1, geohash2, geohash3, geohash4, geohash5,
                                            geohash6, geohash7, geohash8, geohash9, geohash10, geohash11, geohash12,
                                            create_time)
        values (#{flowRecordId}, #{tenantId}, #{vehicleId}, #{shipmentId}, #{longitude}, #{latitude},
                #{receiverServerTime}, #{geohash1}, #{geohash2}, #{geohash3}, #{geohash4}, #{geohash5}, #{geohash6},
                #{geohash7}, #{geohash8}, #{geohash9}, #{geohash10}, #{geohash11}, #{geohash12}, #{createTime})
    </delete>
    <delete id="deleteByTenantIdAndVehicleId">
        DELETE
        FROM tts_coordinate_latest
        WHERE tenant_id = #{tenantId}
          AND vehicle_Id = #{vehicleId}
    </delete>

    <select id="queryLatestPointByTenantIdAndVehicleId" resultType="com.tts.main.domain.TtsCoordinateLatest">
        <include refid="selectCoordinateLatest"/>
        WHERE
        tcl.tenant_id = #{tenantId}
        AND
        tcl.vehicle_Id = #{vehicleId}

    </select>


    <select id="selectCoordinateLatestPointByGeofence" resultType="com.tts.main.domain.TtsCoordinateLatest"
            parameterType="com.tts.main.dto.GeofenceVehicleQueryDto">
        <include refid="selectCoordinateLatest"/>
        WHERE tcl.tenant_id = #{tenantId}

        <if test="vehicleIdList != null ">
            AND vehicle_Id in
            <foreach collection="vehicleIdList" index="index" item="vehicleId" open="(" separator="," close=")">
                #{vehicleId}
            </foreach>
        </if>

        <if test="geohashList != null ">
            AND geohash${level} in
            <foreach collection="geohashList" index="index" item="geohash" open="(" separator="," close=")">
                #{geohash}
            </foreach>
        </if>

        <if test="startTime != null ">
            AND receiverServerTime >= startTime
        </if>

    </select>

    <select id="selectTtsCoordinateLatestList" parameterType="com.tts.main.domain.TtsCoordinateLatest"
            resultMap="TtsCoordinateLatestResultMap">
        <include refid="selectCoordinateLatest"/>
        <where>
            <if test="tenantId != null ">
                and tenant_Id = #{tenantId}
            </if>
            <if test="vehicleId != null ">
                and vehicle_Id = #{vehicleId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and receiver_Server_Time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and receiver_Server_Time &lt;= #{params.endTime}
            </if>
        </where>
    </select>

    <insert id="saveTtsCoordinateLatest" parameterType="com.tts.main.dto.GeofenceVehicleQueryDto">
        INSERT INTO tts_coordinate_latest(
                    flow_Record_Id,
                    tenant_Id,
                    vehicle_Id,
                    shipment_Id,
                    longitude,
                    latitude,
                    receiver_Server_Time,
                    geohash1,
                    geohash2,
                    geohash3,
                    geohash4,
                    geohash5,
                    geohash6,
                    geohash7,
                    geohash8,
                    geohash9,
                    geohash10,
                    geohash11,
                    geohash12,
                    create_time
                    )
        VALUES (
                    #{flowRecordId},
                    #{tenantId},
                    #{vehicleId},
                    #{shipmentId},
                    #{longitude},
                    #{latitude},
                    #{receiverServerTime},
                    #{geohash1},
                    #{geohash2},
                    #{geohash3},
                    #{geohash4},
                    #{geohash5},
                    #{geohash6},
                    #{geohash7},
                    #{geohash8},
                    #{geohash9},
                    #{geohash10},
                    #{geohash11},
                    #{geohash12},
                    #{createTime}
                    )
    </insert>
    <update id="updateLatestByVehicleId" parameterType="com.tts.main.dto.GeofenceVehicleQueryDto">
         UPDATE tts_coordinate_latest set
                    flow_Record_Id = #{flowRecordId},
                    tenant_Id = #{tenantId},
                    vehicle_Id = #{vehicleId},
                    shipment_Id = #{shipmentId},
                    longitude = #{longitude},
                    latitude = #{latitude},
                    receiver_Server_Time = #{receiverServerTime},
                    geohash1 = #{geohash1},
                    geohash2 = #{geohash2},
                    geohash3 = #{geohash3},
                    geohash4 = #{geohash4},
                    geohash5 = #{geohash5},
                    geohash6 = #{geohash6},
                    geohash7 = #{geohash7},
                    geohash8 = #{geohash8},
                    geohash9 = #{geohash9},
                    geohash10 = #{geohash10},
                    geohash11 = #{geohash11},
                    geohash12 = #{geohash12},
                    create_time = #{createTime}
                    where tenant_Id = #{tenantId}
                    and  vehicle_Id = #{vehicleId}
    </update>

</mapper>