<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tts.main.dao.TtsCoordinatePointMapper">
    <resultMap id="TtsCoordinatePointResultMap" type="com.tts.main.domain.TtsCoordinatePoint" >
        <id property="id" column="id" />
        <result property="sessionId" column="session_id"/>
        <result property="vehicleId" column="vehicle_id"/>
        <result property="shipmentIdArray" column="shipment_id_array"/>
        <result property="shipmentId" column="shipment_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="mapCoordinateSystem" column="map_coordinate_system"/>
        <result property="locationType" column="location_type"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="speed" column="speed"/>
        <result property="direction" column="direction"/>
        <result property="altitude" column="altitude"/>
        <result property="accuracy" column="accuracy"/>
        <result property="accurateFlag" column="accurate_flag"/>
        <result property="address" column="address"/>
        <result property="errorCode" column="error_code"/>
        <result property="errorInfo" column="error_info"/>
        <result property="action" column="action"/>
        <result property="param" column="param"/>
        <result property="remark" column="remark"/>
        <result property="temperature1" column="temperature1"/>
        <result property="temperature2" column="temperature2"/>
        <result property="temperature3" column="temperature3"/>
        <result property="temperature4" column="temperature4"/>
        <result property="humidity" column="humidity"/>
        <result property="humidity2" column="humidity2"/>
        <result property="humidity3" column="humidity3"/>
        <result property="humidity4" column="humidity4"/>
        <result property="positionTime" column="position_time"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="createTime" column="create_time"/>
        <result property="accurateFlag" column="accurate_flag"/>
    </resultMap>

    <sql id="selectCoordinatePointVo">
         SELECT tc.id, tc.session_id, tc.vehicle_id, tc.shipment_id_array, tc.map_coordinate_system, tc.location_type, tc.latitude, tc.longitude, tc.speed,tc.direction,
                tc.altitude, tc.accuracy,tc.error_code,tc.error_info,tc.action,tc.param,tc.remark,tc.temperature1,tc.temperature2,tc.temperature3,tc.temperature4,
                tc.humidity,tc.humidity2,tc.humidity3,tc.humidity4,tc.position_time,tc.upload_time,tc.create_time,tc.shipment_id,tc.tenant_id,tc.address,tc.accurate_flag,
                tc.sensor_time
           FROM tts_coordinate_point tc
     </sql>

    <!--全部查询-->
    <select id="selectQueryCoordinateList" parameterType="com.tts.main.domain.TtsCoordinatePoint" resultMap="TtsCoordinatePointResultMap">
        <include refid="selectCoordinatePointVo"/>
        <where>
            <if test="tenantId != null and tenantId != ''">
                AND tc.tenant_id = #{tenantId}
            </if>

            <if test="vehicleId != null and vehicleId != ''">
               AND tc.vehicle_id = #{vehicleId}
            </if>

            <if test="accurateFlag != null and accurateFlag != ''">
                AND tc.accurate_flag = #{accurateFlag}
            </if>

            <if test="sessionId != null and sessionId != ''">
                AND tc.session_id = #{sessionId}
            </if>

            <if test="sessionId != null and sessionId != ''">
                AND tc.session_id = #{sessionId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and   tc.create_time  &gt;=   #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and  tc.create_time  &lt;=  #{params.endTime}
            </if>
        </where>
    </select>

    <!-- 查询指定车辆的最新的一个坐标 -->
    <select id="queryLatestPointByVehicleId" parameterType="com.tts.main.dto.TrackQueryDto" resultMap="TtsCoordinatePointResultMap">
        <include refid="selectCoordinatePointVo"/>
        <where>
            <!-- 0 表示 非异常点 -->
            tc.error_code = '0'

            <if test="tenantId != null and tenantId != ''">
                AND tc.tenant_id = #{tenantId}
            </if>
            <if test="vehicleId != null and vehicleId != ''">
                AND tc.vehicle_id = #{vehicleId}
            </if>


        <if test="accurateFlag != null and accurateFlag != ''">
            AND tc.accurate_flag = #{accurateFlag}
        </if>
        </where>
        ORDER BY  id DESC LIMIT 1
    </select>


    <!-- 查询指定车辆的坐标列表 -->
    <select id="queryTrackByVehicleId" parameterType="com.tts.main.dto.TrackQueryDto" resultMap="TtsCoordinatePointResultMap">
        <include refid="selectCoordinatePointVo"/>
        <where>
            <if test="tenantId != null and tenantId != ''">
                AND tc.tenant_id = #{tenantId}
            </if>
            <if test="vehicleId != null and vehicleId != ''">
                AND tc.vehicle_id = #{vehicleId}
            </if>

            <if test="shipmentId != null and shipmentId != ''">
                AND tc.shipment_id = #{shipmentId}
            </if>

            AND tc.create_time BETWEEN #{startTime} AND #{endTime}
            <!-- 0 表示 非异常点 -->
            AND tc.error_code = '0'

            <if test="accurateFlag != null and accurateFlag != ''">
                AND tc.accurate_flag = #{accurateFlag}
            </if>

        </where>
        ORDER BY id
    </select>

</mapper>