<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tts.main.dao.TtsGlobalConfigureMapper">
    <resultMap id="TtsGlobalConfigureResult" type="com.tts.main.domain.TtsGlobalConfigure">
        <id property="globalId" column="global_id"/>
        <result property="configKey" column="config_key"/>
        <result property="configValue" column="config_value"/>
    </resultMap>

    <sql id="selectTtsGlobalConfigureVo">
        select global_id, config_key, config_value
        from tts_global_configure tgc
    </sql>

    <select id="selectByConfigKey" parameterType="java.lang.String" resultMap="TtsGlobalConfigureResult">
        <include refid="selectTtsGlobalConfigureVo"/>
        <where>
            AND tgc.config_key = #{configKey}
        </where>
    </select>
</mapper>