<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tts.main.dao.TtsIovSubscribeTaskLogMapper">

    <select id="selectIovSubscribeTaskLogLatestManual"
            resultType="com.tts.main.domain.TtsIovSubscribeTaskLog">
         SELECT id
               ,task_id
               ,content
               ,pre_state
               ,next_state
               ,event_type
               ,oper_type
               ,server_ip
               ,create_time
         FROM  tts_iov_subscribe_task_log
        WHERE  task_id = #{taskId}
          AND  oper_type = #{operType}
      ORDER BY id desc
       LIMIT 1
    </select>
</mapper>