<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tts.main.dao.TtsIovSubscribeTaskVehicleMapper">

    <select id="selectByQueryCondition" parameterType="com.tts.main.domain.TtsIovSubscribeTaskVehicle"
            resultType="com.tts.main.domain.TtsIovSubscribeTaskVehicle">
        SELECT
        id
        ,task_id
        ,vehicle_id
        ,vehicle_no
        ,shipment_id
        ,vehicle_color_type
        ,create_time
        FROM tts_iov_subscribe_task_vehicle istv
        <where>
            <if test="taskId != null">
                AND task_id = #{taskId}
            </if>
            <if test="vehicleNo != null">
                AND vehicle_no = #{vehicleNo}
            </if>
        </where>
    </select>
</mapper>